/*p{
	color: red;
	font-weight: bolder;
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	line-height: 1em;
	word-spacing: 1.5em;
	letter-spacing: 1em;
	font-style: italic;
}*/

body{
	background-image: url(earphones.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
	background-attachment: fixed;

}

.xyz{
	color: green;
	font-family: 'Dancing Script', cursive;
	/*border: 2px dotted red;*/

	border-width: 40px;
	/*border-top-width: 2px;
	border-right-width: 10px;
	border-bottom-width: 20px;
	border-left-width: 30px;*/


	border-style: dashed dotted double ridge;
	/*border-top-style: solid;
	border-right-style: dotted;
	border-bottom-style: double;
	border-left-style: ridge;*/

	/*border-color:blue;*/
	border-top-color: red;
	border-right-color: blue;
	border-bottom-color: green;
	border-left-color: pink;

	/*margin: 50px 20px 80px 100px;*/
	margin-top : 50px;
	margin-right: 100px;
	margin-bottom: 200px;
	margin-left: 70px;

	padding: 50px 100px 130px;


	width: 300px;
	height: 200px;
	overflow: auto;
}

.red{
	color: red;
	position: fixed; /* relative , absolute, fixed*/
	right: 10px;
	bottom: 10px;
}